
header {
    margin-bottom: 10px;
}

header h1 {
    display: inline-block;
    margin-bottom: 0%;
}

p {
   margin: 0%;
}


nav ul {
    padding-left: 0%;
}

/* #youtube {
    color:black
} */

/* ul a {
    color: white;
}  */

header nav ul li {
    display: inline-block;
    list-style: none;
}

/* ! #youtube:hover {
    color: red;
}

#arvoya:hover{
    color: green;
}

#soundcloud:hover {
    color: orange;
} */

#ButtonGuide {
    display: inline;
}

#button {
    font-family: Sans-serif;
    padding: 1px;
    transition: .5s;
    border-radius: 2px;
}

#button:hover {
    opacity: 30%;
    color: black;
    cursor: pointer;
}

#front_img {
    width: 30%;
}

nav {
    width: 30%;
}

nav ul li {
    width: 30%;
}

#favSong {
    padding-top: 5px;
    padding-bottom: 10px;
}

main {
    font-family: Sans-serif;
    text-decoration: none;
    padding-right: 10px;
    display: inline;
    font-family: Sans-serif;
    text-decoration: none;
    transition: .5s;
    border-radius: 2px;
}

main:hover {
    opacity: 30%;
    color: black;
    cursor: pointer;
}